<head>
  <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="/stylesheets/createProfileStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>


<div class="title">
    <h1>Interest</h1>
</div>
<div class="navbar">
    <nav class="navtag">
        <a href="/home">Back</a>
    </nav>
</div>

<h3 class="welcome">Hello, {{username}}, please create your profile</h3>
<form action="/create-profile" enctype="multipart/form-data" id="edit-profile" method="post">
    <section class="card">
        <div class="img">Choose Image
            <input type="file" name="imgUrl">
        </div>
        <div class="imglink">
            <input type="text" name="previousUrl" value="{{imgUrl}}" hidden>
        </div>
        <div class="box">Name   
            <input id="name-box"type="text" name="name" placeholder="Enter Name" value="{{name}}">
        </div>
        <div class="box">Contact  
            <input id="contact-box"type="text" name="contact" placeholder="Enter contact information" value="{{contact}}">
        </div>
        <div class="box">Location   
            <input id="location-box" type="text" name="location" placeholder="Enter location" value="{{location}}">
        </div>
    </section>
    <section class="about">
        <div class="description">Description
            <input id="description-box"type="text" name="description" id="description" placeholder="description" value="{{description}}">
        </div>
        <div class="box">
            <div>Industries
                <input type="text" name="firstParameter" id="first-parameter" placeholder="Industries" value="{{firstParameter}}">
            </div>
            <div>Avg. Investment/Turnover
                <input type="text" name="secondParameter" id="second-parameter" placeholder="Avg. Investment/Turnover" value="{{secondParameter}}">
            </div>
            <div>No. of companies/employees
                <input type="text" name="thirdParameter" id="third-parameter" placeholder="No. of companies/employees" value="{{thirdParameter}}">
            </div>
        </div>
    </section>
  <div id="edit-profile" > <button class="submit" type="submit">Create Profile</button> </div>
  
</form>
<hr>