<head>
  <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="stylesheets/profileStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>
<nav class="nav-profile">
      <a class="backHome" href="/home">Back to Home</a>
        <div class="title">
          <h1>Interest</h1>
        </div>
       <a class="backHome" href="/logout">Log out</a>
</nav>
<div class="well"><h3>Hello, {{user.name}}</h3></div>
  <section class="profile">
    <div class="edit-profile"> <a href="/edit-profile">Edit profile</a></div>
    <section class="main-card">
      <div class="profile-img" style="width: fit-content; height: 12.5vh">
        <img src="{{user.imgUrl}}" alt="Profile Picture">
      </div>
        <div class="name-box">
          <h1>{{user.name}}</h1>
          <h3>{{user.contact}}</h3>
          <h3>{{user.location}}</h3>
        </div>
    </section>
    <section class="about">
        <div class="description">
            <p>{{user.description}}<p>
        </div>
        <div class="profile-parameters">
          <div class="parameter-box"><p>Industries:</p> <h3>{{user.firstParameter}}</h3></div>
          <div class="parameter-box"> <p>Avg. of investment/Turnover:</p><h3>{{user.secondParameter}}</h3></div>
          <div class="parameter-box"><p>No. of companies/employees:</p><h3>{{user.thirdParameter}}</h3></div>
        </div>
    </section>
  </section>  
</div>
