<head>
  <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="stylesheets/profileStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>


<nav class="header">
    <div class="headerhome">
      <a href="/home">Back to Home</a>
    </div> 
    <h1 class="headerTitle">nav bar</h1>
    <div class="headerlogout">
       <a href="/logout">Log out</a> 
    </div> 
       
    {{!-- <a href="/search">Search for Other Profiles</a> --}}
    {{!-- <a href="/edit-profile">Edit your Profile</a> --}}
</nav>
<hr>
<div class="greeting"><h1>Hello, {{user.name}}</h1></div>

  <section class="profile">

    <div class="edit-profile"> <a href="/edit-profile">Edit profile</a></div>

    <section class="main-card">

        <div class="profile-img">
            <img src="{{imgUrl}}" alt="Profile Picture">
        </div>

            <div class="name-box">
                <h1>{{user.name}}</h1>
                <h3>{{user.contact}}</h3>
                <h3>{{user.location}}</h3>
            </div>
    
    </section>

    <section class="about">

        <div class="description">
            <p>{{user.description}}<p>
        </div>

            <div class="profile-parameters">

                   <div class="parameter-box"><p>Industries:</p> <h3>{{user.firstParameter}}</h3></div>

                    <div class="parameter-box"> <p>Avg. of investment/Turnover:</p><h3>{{user.secondParameter}}</h3></div>

                    <div class="parameter-box"><p>No. of companies/employees:</p><h3>{{user.thirdParameter}}</h3></div>

            </div>
    </section>
  </section>  
</div>

{{!-- <div class="matches-recieved-list">
                <ul>
                    {{#each user.matchRecieved}}

                        <li>
                            {{this}}
                        </li>

                    {{/each}}
                </ul>
            </div> 
</div>--}}