<nav>
    <a href="/home">Back to Home</a>
    <a href="/logout">Log out</a>
    {{!-- <a href="/search">Search for Other Profiles</a> --}}
    {{!-- <a href="/edit-profile">Edit your Profile</a> --}}
    <h1>nav bar</h1>
</nav>
<hr>
<h1>Hello, {{user.name}}</h1>
<section class="profile">
    <div class="edit-profile"> <a href="/edit-profile">Edit profile</a></div>
    <section class="main-card">

        <div class="profile-img">
            <img src="{{imgUrl}}" alt="Profile Picture">
        </div>

            <div class="name-box">
                <h1>{{user.name}}</h1>
                <h3>{{user.contact}}</h3>
                <h3>{{user.location}}</h3>
            </div>
    
    </section>

    <section class="about">

        <div class="description">
            <p>{{user.description}}<p>
        </div>

            <div class="profile-parameters">

                   <p>Industries:</p> <h3>{{user.firstParameter}}</h3>

                    <p>Avg. of investment/Turnover:</p><h3>{{user.secondParameter}}</h3>

                    <p>No. of companies/employees:</p><h3>{{user.thirdParameter}}</h3>


            </div>
    </section>

</div>