<head>
  <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="/stylesheets/profileStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>


<div class="title">
  <h1>Interest</h1>
</div>
<nav class="nav-profile">
      <a class="backHome" href="/home">Back to Home</a>
       <a class="backHome" href="/logout">Log out</a>
</nav>
<hr>
<h1>Meet {{this.name}}</h1>
<section class="profile">
    <section class="main-card">
        <div class="profile-img" style="width: fit-content; height: 12.5vh">
            <img src="{{this.imgUrl}}" alt="Profile Picture">
        </div>
        <div class="name-box">
            <h3>{{this.name}}</h3>
            <h3>{{this.contact}}</h3>
            <h3>{{this.location}}</h3>
        </div>
    </section>
    <section class="about">
        <div class="description">
            <p>{{this.description}}<p>
        </div>
        <div class="profile-parameters">
            <p>Industries:</p> <h3>{{this.firstParameter}}</h3>
            <p>Avg. of investment/Turnover:</p><h3>{{this.secondParameter}}</h3>
            <p>No. of companies/employees:</p><h3>{{this.thirdParameter}}</h3>
        </div>
        <div class="match">
            <form action="/match/{{this._id}}" method="post">
                <button type="submit">Match</button>
            </form>
        </div>
    </section>
</section>
<hr>
</div>