<head>
  <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="stylesheets/homeStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>

<nav>

</nav>
<div id="logout-profile">

<button id="logout"> <a href="/logout">Log out</a> </button>
<button id="profile"> <a href="/profile">Profile</a> </button>

<h1>nav bar</h1>

</div>
<hr>

<h1>{{appTitle}} </h1>
<p>Welcome {{this.name}}! Short description here</p>
<br />
<p>Search here, or scroll for all existing profiles</p>

<section id="search">
    <form action="/search" method="post">  {{! nav bar to search  }}
    <div>
      <input type="radio" id="entrepreneur" name="entrepreneur" value="entrepreneur">
      <label for="entrepreneur">Entrepreneur</label>
    </div>

    <div>
      <input type="radio" id="manufacturer" name="manufacturer" value="manufacturer">
      <label for="manufacturer">Manufacturer</label>
    </div>
    <select id="parameter" name="parameters"> {{! the filters to help search}}

        <option value="firstParameter">firstParameter</option>
        <option value="secondParameter">secondParameter</option>
        <option value="thirdParameter">thirdParameter</option>
        <option value="location">location</option>
        <option value="capacity">capacity</option> 
    </select>

    <label for="search">Search</label>
    <input type="text" name="search" id="search" placeholder="Search">
    <button type="submit">Search</button>
    </form>

</section>
    <hr>
    <section class="matches-recieved">
        <div class="matches-recieved-title">
            <h2>Your match requests:</h2>
        </div>
            <div class="matches-recieved-list">
                <ul>
                    {{#each this}}
                        {{#each this.matchRecieved}}

                            <li>
                                <p>{{this.name}}</p>
                                <form action="/match/{{this._id}}" method="POST" >
                                <button type="submit">Accept</button>
                                </form>
                            </li>

                        {{/each}}
                    {{/each}}

                </ul>
            </div>
    </section>

    <section class="matches">
        <div class="matches-title">
            <h2>Your matches:</h2>
        </div>
            <div class="matches-list">
                <ul>
                    {{#each this}}
                        {{#each this.matches}}

                            <li>
                                <p>{{this.name}}</p>
                                <form action="/chat/create/{{id}}" method="post">
                                    <button>Chat with user</button>
                                </form>
                                <a href="/view-profile/{{_id}}">View profile</a>
                            </li>

                        {{/each}}
                    {{/each}}

                </ul>
            </div>
    </section>

    <hr>
    {{#each users}}
        <p>{{this.name}}</p>
        <a href="/profile/{{_id}}">View profile</a>
    {{/each}}
</section>