<head>
  <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="stylesheets/homeStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>

<nav>

</nav>
<body>
<div id="logout-profile">
    <div class="title">
         <h1>Interest</h1>
    </div>
    <div class="bar">
        <div class="rotation">
          <button id="logout" class="button"> <a href="/logout">Logout</a> </button>
          <button id="profile" class="button"> <a href="/profile">Profile</a> </button>
        </div>
    </div>
</div>

<section id="home-body">
  <div id="main-home">
    <div>
       <h3 class="welcome">Welcome {{this.name}}!</h3>
    </div>
    <section id="search">
        <h4>Search here, or scroll for your matches and match requests</h4>
        <div id="radios">
            <form action="/search" method="post" id="radio" name="radio">
            <input type="radio" id="entrepreneur" name="entrepreneur" value="entrepreneur">
            <label for="entrepreneur">Entrepreneur</label>
            <input type="radio" id="manufacturer" name="manufacturer" value="manufacturer">
            <label for="manufacturer">Manufacturer</label>
        </div>
        <div id="search-params">
            <select class="search-boxes" id="parameter" name="parameters"> 
                <option value="firstParameter">Industries:</option>
                <option value="secondParameter">Avg. Investment/Turnover:</option>
                <option value="thirdParameter">No. of Employees/Companies:</option>
                <option value="location">location</option>
                <option value="capacity">capacity</option> 
            </select>
            <label for="search"></label>
            <input class="search-boxes"  type="text" name="search" id="search-input" placeholder="Search...">
            <button class="search-boxes" id="search-button" type="submit">Search</button>
         </div>
         </form>

    </section>
 </div>
 <hr>
    <section class="matches-recieved">
        <div class="matches-recieved-title">
            <h5>Your match requests:</h5>
        </div>
          <div class="matches-recieved-list">
            <ul>
                {{#each this}}
                    {{#each this.matchRecieved}}
                        <li class="each-match-recieved">
                          <p class="submit">{{this.name}}</p>
                          <form action="/match/{{this._id}}" method="POST" >
                          <button class="submit" type="submit">Accept</button>
                          </form>
                        </li>
                        <hr>
                    {{/each}}
                {{/each}}
            </ul>
           </div>
    </section>
    <hr>
    <section class="matches">
        <div class="matches-title">
           <h5>Your matches:</h5>
        </div>
           <div class="matches-list">
              <ul>
                 {{#each this}}
                    {{#each this.matches}}
                        <li class="each-match">
                        <p class="match-items">{{this.name}}</p>
                        <form class="match-items" action="/chat/create/{{id}}" method="post">
                            <button class="submit">Chat with user</button>
                        </form>
                            <a class="match-items" href="/view-profile/{{_id}}">View profile</a>
                        </li>
                        <hr>
                    {{/each}}
                 {{/each}}
               </ul>
            </div>
    </section>
</section>
</section>
</body>