<h1>Results</h1>


{{!-- post the result of search --}}
<div>
{{#each users}}

<section>
<div>
<p>{{this.imgUrl}}</p>
</div>
<div>
<h2>{{this.name}}</h2>
{{!--<p>{{this.type}}</p>--}}
<p>{{this.location}}</p>
<p>{{this.firstParameter}}</p>
<p>{{this.secondParameter}}</p>
<p>{{this.thirdParameter}}</p>
</div>
<div>
<a href="/profile/{{_id}}">View profile</a>
<form action="/chat/create/{{id}}" method="post">
    <button>Chat with user</button>
<form action="/match/{{_id}}" method="post">Match with user</form>
    <button type="submit">Match</button>
</form>
</div>
</section>

{{/each}}
  
</div>