<nav>
    <a href="/home">Back to Home</a>
    <a href="/logout">Log out</a>
    {{!-- <a href="/search">Search for Other Profiles</a> --}}
    {{!-- <a href="/edit-profile">Edit your Profile</a> --}}
    <h1>nav bar</h1>
</nav>

<hr>

<h1>Search Results</h1>


{{!-- post the result of search --}}

<div>
{{#each users}}
<section>
<div>
<p>{{this.imgUrl}}</p>
</div>
<div>
<h2>{{this.name}}</h2>
{{!--<p>{{this.ype}}</p>--}}
<p>{{this.location}}</p>
<p>{{this.firstParameter}}</p>
<p>{{this.secondParameter}}</p>
<p>{{this.thirdParameter}}</p>
</div>
<div>
<a href="/profile/{{_id}}">View profile</a>
<form action="/chat/create/{{id}}" method="post">
    <button>Chat with user</button>
</form>
<form action="/match/{{_id}}" method="post">
    <button type="submit">Match</button>
</form>
</div>
</section>
{{/each}}
 
</div>