<head>
    <link rel="stylesheet" href="stylesheets/universalStyle.css" />
    <link rel="stylesheet" href="stylesheets/resultSearchStyle.css" />
</head>

<nav>
    <a href="/home">Back to Home</a>
    <a href="/logout">Log out</a>
    {{!-- <a href="/search">Search for Other Profiles</a> --}}
    {{!-- <a href="/edit-profile">Edit your Profile</a> --}}
    <h1>nav bar</h1>
</nav>

<hr>

<h1>Search Results</h1>


{{!-- post the result of search --}}

<div>
{{#each users}}
<section class = "search-results-container">
<div>
<p class = "search-profile-img">{{this.imgUrl}}</p>
</div>
<div>
<h2>{{this.name}}</h2>
{{!--<p>{{this.ype}}</p>--}}
<p>{{this.location}}</p>
<p>Industries:</p><p>{{this.firstParameter}}</p>
<p>Avg. of investment/Turnover:</p><p>{{this.secondParameter}}</p>
<p>No. employees/companies:</p><p>{{this.thirdParameter}}</p>
</div>
<div>
<a href="/view-profile/{{_id}}">View profile</a>
<form action="/chat/create/{{id}}" method="post">
    <button class = "search-button">Chat with user</button>
</form>
{{!-- <form action="/match/{{this._id}}" method="post">
    <button type="submit">Match</button>
</form> --}}
</div>
</section>
<hr>
{{/each}}
 
</div>