<h1>List</h1>


{{!-- post the result of search --}}
<div>
{{#each users}}

<section>
<div>
<p>{{this.imgUrl}}</p>
</div>
<div>
<h2>{{this.name}}</h2>
{{!--<p>{{this.ype}}</p>--}}
<p>{{this.location}}</p>
<p>{{this.firstParameter}}</p>
<p>{{this.secondParameter}}</p>
<p>{{this.thirdParameter}}</p>
</div>
<div>
<a href="/profile/{{_id}}">View profile</a>
</div>
</section>

{{/each}}
  
</div>