<h1>List</h1>


{{!-- post the result of search --}}

<div>
  <h2>title of project here</h2>
  <nav>
    <a href="/home">Back to Home</a>
    <a href="/profile">Back to Profile</a>
    <h1>nav bar</h1>
  </nav>  
</div>

<div>
{{#each users}}
<section>
<div>
<p>{{this.imgUrl}}</p>
</div>
<div>
<h2>{{this.name}}</h2>
{{!--<p>{{this.ype}}</p>--}}
<p>{{this.location}}</p>
<p>{{this.firstParameter}}</p>
<p>{{this.secondParameter}}</p>
<p>{{this.thirdParameter}}</p>
</div>
<div>
<a href="/profile/{{this._id}}">View profile</a>
<form action="/chat/create/{{this._id}}" method="post">
    <button>Chat with user</button>
</form>
</div>
</section>
{{/each}}
 
</div>