<h1>Matches Results</h1>
<div>
{{#each users}}
<section>
    <div>
        <p>{{this.imgUrl}}</p>
    </div>
    <div>
        <h2>{{this.name}}</h2>
        <p>{{this.location}}</p>
        <p>{{this.firstParameter}}</p>
        <p>{{this.secondParameter}}</p>
        <p>{{this.thirdParameter}}</p>
    </div>
</section>
{{/each}}
<div>
    <a href="/home/{{_id}}">Back to profile</a>
</div>
  
</div>